{% extends 'base.html' %}

{% block titulo %}{{ producto.nombre }}{% endblock %}

{% block contenido %}
    <h1>
        Producto: {{ producto.nombre }}
        {% if favorito %}
            <a href="{% url 'quitar_favoritos' producto.pk %}">🌟</a>
        {% else %}
            <a href="{% url 'agregar_favoritos' producto.pk %}">⭐️</a>
        {% endif %}
    </h1>
    <h2>Categoría: {{ producto.categoria.nombre }}</h2>
    <h3>Precio: S/.{{ producto.precio }}</h3>
    <h3>{{ producto.stock }} en stock</h3>

    <p>{{ producto.descripcion|linebreaksbr }}</p>

    <h3>Imágenes:</h3>
    {% for imagen in producto.imagen_set.all %}
        <img src="{{ imagen.imagen.url }}" height="200">
    {% endfor %}
{% endblock %}
